@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
}

p {
  margin-bottom: 0;
  color: #333d4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  color: #181d25;
}

figure {
  margin: 0px !important;
}

dl,
ol,
ul {
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 12px 0px;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container nav button {
  border: none;
  outline: none;
  border-radius: 70px;
  padding: 8px 20px;
  background-color: #3347FF;
  color: #fff;
}

.casual .container .row .sidebar {
  position: sticky;
  top: 0px;
  border-inline: 1px solid #dcdcdc;
  background-color: #fff;
  padding-bottom: 12px;
  overflow-y: scroll;
  max-height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.casual .container .row .sidebar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  background: transparent;
}
.casual .container .row .sidebar p {
  text-align: center;
  margin: 12px 0px;
}
.casual .container .row .sidebar p i {
  color: #2f6ed5;
}
.casual .container .row .sidebar nav a {
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.casual .container .row .sidebar nav a:last-child {
  margin-bottom: 0px;
}
.casual .container .row .sidebar nav a:hover {
  background-color: #EDEFF3;
}
.casual .container .row .sidebar nav .active {
  background-color: #EDEFF3;
}
.casual .container .row .sidebar .questionBank nav a {
  background-color: #F6FAFE;
}
.casual .container .row .sidebar .ads a figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  aspect-ratio: 16/9;
  margin-bottom: 8px;
}
.casual .container .row .docs {
  border-right: 1px solid #dcdcdc;
  padding: 30px;
}
.casual .container .row .docs h1,
.casual .container .row .docs h2,
.casual .container .row .docs h3,
.casual .container .row .docs h4,
.casual .container .row .docs h5,
.casual .container .row .docs h6 {
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid rgba(229, 229, 229, 0.4352941176);
  margin-top: 30px;
  margin-bottom: 15px;
}
.casual .container .row .docs h1:first-child,
.casual .container .row .docs h2:first-child,
.casual .container .row .docs h3:first-child,
.casual .container .row .docs h4:first-child,
.casual .container .row .docs h5:first-child,
.casual .container .row .docs h6:first-child {
  margin-top: 0px;
}
.casual .container .row .docs ul {
  padding: 20px;
  border-radius: 6px;
  border: 0.5px solid rgba(229, 229, 229, 0.4352941176);
}
.casual .container .row .docs ul li {
  list-style: disc !important;
  margin-bottom: 8px;
  margin-left: 15px;
}
.casual .container .row .docs ul li:last-child {
  margin-bottom: 0px;
}
.casual .container .row .docs ul li a {
  color: #2f6ed5;
}
.casual .container .row .docs ul li a:hover {
  text-decoration: underline !important;
}
.casual .container .row .docs ul li i {
  color: #2f6ed5;
}
.casual .container .row .docs p {
  margin-bottom: 8px;
}
.casual .container .row .docs p a {
  color: #2f6ed5;
}
.casual .container .row .docs p a:hover {
  text-decoration: underline !important;
}
.casual .container .row .docs p i {
  color: #2f6ed5;
}
.casual .container .row .docs table {
  margin-bottom: 16px;
  border-collapse: collapse;
  width: 100%;
}
.casual .container .row .docs table th {
  background-color: #F6FAFE;
}
.casual .container .row .docs table td,
.casual .container .row .docs table th {
  border: 1px solid rgba(229, 229, 229, 0.4352941176);
  padding: 8px;
  text-align: center;
}

footer {
  background-color: #fff;
  padding: 35px 0px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
footer .container .row .newsletter p {
  text-align: center;
}
footer .container .row .newsletter p span {
  color: #2f6ed5;
}
footer .container .row .newsletter form input {
  width: 100%;
  margin: 12px 0px;
  border: 1px solid #dcdcdc;
  outline: none;
  border-radius: 6px;
  padding: 8px 12px;
}
footer .container .row .newsletter form button {
  width: 100%;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  background-color: #3347FF;
  color: #fff;
}
footer .container .row ul {
  margin: 0;
}
footer .container .row ul li {
  margin-top: 12px;
}
footer .container .row ul li a {
  color: #2f6ed5;
}
footer .container .row ul li a:hover {
  text-decoration: underline !important;
}

.copyright {
  padding: 12px 0px;
  background-color: #fff;
}
.copyright .container {
  text-align: center;
}
.copyright .container p a {
  color: #2f6ed5;
}
.copyright .container p a:hover {
  text-decoration: underline !important;
}/*# sourceMappingURL=style.css.map */