@media (max-width: 992px) {
    footer {
        .container {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 12px;
            }
        }
    }

    .casual {
        .respo {
            display: block !important;
        }

        .container {
            .row {
                .sidebar {
                    display: none;

                    .menu {
                        display: none;
                    }

                    .menuContent {
                        padding-top: 12px;
                    }

                }
            }

            .docs {
                border-right: none !important;

            }
        }
    }
}